<!DOCTYPE html>
<html>
    {{>header }}
    <body>
        <h1>{{ pageTitle }}</h1>
        <p>{{shoutIt welcomeMessage }}</p>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>

        {{> footer }}
    </body>
</html>